version: "3"
services:
  hub:
    image: selenium/hub:4.10.0
    ports:
      - "4444:4444"
  chrome:
    image: selenium/node-chrome:4.10.0
    depends_on:
      - hub
    environment:
      - SE_EVENT_BUS_HOST=hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
  firefox:
    image: selenium/node-firefox:4.10.0
    shm_size: '1gb'
    depends_on:
      - hub
    environment:
      - SE_EVENT_BUS_HOST=hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
  nunit-selenium-tests:
    image: kovalauskis/nunit-selenium-grid
    depends_on:
      - chrome
      - firefox
    environment:
      - SE_EVENT_BUS_HOST=hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - BROWSER=chrome
      - CATEGORY=Smoke
    volumes:
      - ./output:C:\Users\roberts.kovalauskis\Desktop\test-output